.card{
    background-color: rgb(205, 253, 249);
    height: 400 px ;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* .card-img-top{
    height: 200px;
    width: 100px;
} */
/* .card-title{
    color: rgb(3, 3, 66);
    font-size: 50px;
    font-style: bold;
}
.card-text{
    color: rgb(16, 16, 124);
    font-size: 40px;
    font-style: bold;
} */