.card1{
    text-align: center;
    color: rgb(4, 4, 65);
    font-size:medium;
}
.card2{
    text-align: center;
    color: rgb(4, 4, 65);
    font-size:medium;
}
.card3{
    text-align: center;
    color: rgb(4, 4, 65);
    font-size:medium;
}
.card4{
    text-align: center;
    color: rgb(4, 4, 65);
    font-size:medium;
}
.card-part{
    text-align: center;
    color: blue;
    font-size:xxxx-large;
}