.footer {
    background-color:greenyellow;
    padding: 20px 30px;
    text-align: center;
    color: rgb(4, 4, 65);
    font-size:small;
}
.footer1{
    background-color:greenyellow;
    padding: 20px 30px;
    text-align: center;
    color: rgb(4, 4, 65);
    font-size:small;

}
.footer2{
    background-color:greenyellow;
    padding: 20px 30px;
    text-align: center;
    color: rgb(4, 4, 65);
    font-size:small;
}
.footer3{
    background-color:greenyellow;
    padding: 20px 30px;
    text-align: center;
    color: rgb(4, 4, 65);
    font-size:small;
}


        