.me-auto1 {
    /* text-align: center;
    font-size: larger;
    background-color: greenyellow;
    padding: 5px 20px; */
    margin:0;
    padding:0;
    background: url( https://wallpapercave.com/wp/evLXrqN.jpg);
    
}

